{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "import/order": "error"
  },
  "root": true,
  "ignorePatterns": ["*.js", "dist"],
  "settings": {
    "import/resolver": {
      "typescript": true,
      "node": true
    }
  }
}
